<!DOCTYPE html>
<html lang="pl">
		
<head>
	<meta charset="UTF-8" />
	<title>"Victoria Chemicals" Sp. z o.o. - O firmie</title>
	<link href="../styles/template.css" rel="stylesheet" type="text/css"/>
	<link href="../styles/about.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Roboto+Slab:300,400,700" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700|Playfair+Display:400,700,700i|Roboto+Slab:300,400,700" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Playfair+Display+SC:400,700|Playfair+Display:400,700,700i|Roboto+Slab:300,400,700" rel="stylesheet"> 

</head>
<body>
	<div class="mainWrapper">
		<div class="wrapper">
			<header class="header wrapper--narrow wrapper--white">
				<img class="language" src="../images/en.png"></img>
				<span class="fas fa-plus-circle menu"></span>
				<span class="fas fa-minus-circle menu menu--hidden"></span>
				<div class="logo header__item">
					<a href="index.html"><img class="logo__img" src="../images/logo_vc.png"></a>
				</div>
				<nav class="nav header__item">
					<a href="index.html" class="nav__link">strona główna</a>
					<a href="about.html" class="nav__link nav__link--selected">o firmie</a>
					<a href="products.html" class="nav__link">produkty</a>
					<a href="represents.html" class="nav__link">przedstawicielstwa</a>
					<a href="contact.html" class="nav__link nav__link--contact">kontakt</a>				
				</nav>	
			</header>

			<div class="wrapper--narrow wrapper--white">
				<div class="banner banner--about">
					<div class="banner__box">
					</div>
				</div>
				<div class="content--narrow content--map">
					<h2 class="content__header">o firmie</h2>
					<p class="content__text">“Victoria Chemicals” Sp. z o.o. to dynamiczny uczestnik międzynarodowego rynku obrotu produktami petrochemicznymi oraz chemicznymi.</br>Nasza firma działa na obszarze Europy, Azji oraz Afryki Północnej od 2007 roku.</p>
					<div class="map">
						<img class="map__img" src="../images/map_about.png">
					</div>
				</div>
				<div class="content--wide content--about">
					<p class="content__text content__text--small">Zadowolenie klientów oraz długofalowa współpraca są priorytetami w podejmowaniu działań przez nasz kilkunastoosobowy zespół. Doświadczenie sprzedażowe i silne relacje z dostawcami pozwalają nam na oferowanie rozwiązań dostosowanych do indywidualnych potrzeb naszych klientów.</p>
					<div class="gallery">
						<div class="gallery__item">
							<img class="gallery__img" src="../images/gallery1_vc.jpg">
						</div>
						<div class="gallery__item">
							<img class="gallery__img" src="../images/gallery2_vc.jpg">
						</div>
					</div>
				</div>
				<div class="wrapper--narrow wrapper--white empty">
					
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer__item contact">
				<p class="contact__item"><span class="fas fa-phone contact__icon"></span>+48 22 33 88 900</p>
				<p class="contact__item"><span class="fas fa-envelope contact__icon"></span>office@victoriachemicals.com</p> 
			</div>
			<div class="footer__item design">
				<p>code & design: ROBOTIX</p>
			</div>
		</div>
	</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../scripts/template.js"></script>


</body>
</html>

