.banner--about {
	background-image: url(../images/about_vc.jpg);
	height: 300px;
}

.map {
	padding: 48px 0px;
}

.map__img {
	width: 100%;
}

.gallery {
	padding: 24px 0px;
	text-align: center;
}

.gallery__item {
	margin: 12px auto;
}

.gallery__img {
	display: inline-block;
	max-width: 100%;
}

/*.empty {
 	height: 96px;
}
*/

@media all and (min-width: 600px) {
	.map__img {
		width: 50%;
	}

	.gallery {
		display: flex;
		justify-content: space-around;
		padding: 48px 0px;
		margin: auto;
		width: 100%;
	}

	.gallery__item {
		width: 40%;
	}

	.gallery__img {
		max-width: 100%;
	}

}

@media all and (min-width: 1200px) {
	.gallery {
		width: 80%
	}
	.gallery__item {
		width: 40%;
	}
}