.banner--contact {
	background-image: url(../images/contact2_vc.jpg);
	background-position: 0% 52%;
}

.formal__item {
	padding-bottom: 12px;
}

.map {
	padding: 48px 0px;
}

@media all and (min-width: 600px) {
	.map {
		width: 80%;
		margin: auto;
	}

	.formal__container {
		display: flex;
		justify-content: center;
	}

	.formal__item {
		width: 45%;
		padding-bottom: 0px;
	}
}