.banner--index {
	background-image: url(../images/main_vc.jpg);
	/*height: 320px;*/
	background-repeat: no-repeat;
	background-size: cover;
}

.banner__text {
	/*font-family: 'Roboto Slab', serif;*/
	/*font-family: 'Playfair Display SC', serif;*/
	font-family: 'Cinzel', serif;
	/*font-family: 'Markazi Text', serif;*/
	/*font-family: 'Oswald', sans-serif;*/
	font-size: 24px;
	font-weight: 600;
	/*text-transform: uppercase;*/
	text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	margin: auto;
	padding: 12px;
	line-height: 2em;
	/*font-style: italic;*/
}

.banner__text--white {
	color: rgba(256,256,256,0.9);
}

.buttons {
	display: flex;
	padding: 24px;
	justify-content: space-around;
	width: 55%;
	margin: auto;
	cursor: pointer;
}

.buttons__link {
	text-decoration: none;
	background-color: rgba(256,256,256,0.8);
	color: #F15056;
	padding: 12px 24px;
}	

.buttons__link:hover {
	background-color: rgba(241,80,86, 0.8);
	color: #FFFFFF;
}


.box {
	min-height: 180px;
	padding: 48px 0px;
}

.box__container {
	-ms-display: flex;
		display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: auto;
	font-size: 18px;
	padding: 12px 0px;
}

.box__description {
	flex-basis: 50%;
	align-self: center;
	text-align: left;
}

/*.box__description--bold {
	color: #F15056;
}*/

.box__item {
	margin: auto;
	text-align: center;
	padding: 12px;
}

.box__item--deliveries {
	order: 1;
}

.box__description--deliveries {
	order: 2;
	/*text-align: right;*/
}

.box__title {
	cursor: pointer;
}

.box__title:hover,
.box__title:active {
	color: #F15056;
}

.box__title--selected {
	color: #F15056;
}

.box__text {
	display: none;
}

.box__text--visible {
	display: block;
}

.box__angle {
	font-size: 12px;
	padding: 0px 6px;
	vertical-align: middle;
}

.box__icon {
	color: #F15056;
	font-size: 48px;
	/*margin-bottom: 24px;*/
	margin: auto;
	visibility: hidden;
}

.box__icon--visible {
	visibility: visible;
}


@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-4640px); /*4544  (n x width) + (n x 24px)*/
            transform: translateX(-4640px); 
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-4640px);
            transform: translateX(-4640px);
  }
}

.slider {
	margin: 24px 0px;
	background-color: white;
	/*height: 108px;*/
  	overflow: hidden;
  	position: relative;
  	/*padding: 0px 48px;*/
}

.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 108px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}

.slider .slide__track {
  -webkit-animation: scroll 35s linear infinite;
          animation: scroll 35s linear infinite;
  display: flex;
  align-items: center;
  width: 4640px;
}

.slider .slide {
  /*height: 108px;*/
  /*width: 250px;*/
/*  -ms-display: flex;
 	  display: flex;*/
  margin: auto 24px;
}

.slider__img {
	margin: auto; 
}

.cert,
.circle {
	-ms-display: flex;
		display: flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}

.cert {
	width: 100%;
	flex-direction: column;
}

.cert__img {
	padding: 6px 0px;
}

.cert__img--vertical {
	display: none;
}

#cert__1 {
	order: 2;
}

#cert__2 {
	order: 1;
}

#cert__3 {
	order: 3;
}

.circle__item {
	width: 144px;
	height: 144px;
	border-radius: 100%;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	display: flex;
}



#circle1 {
	background-image: url(../images/circle1_vc.jpg);
	/*background-image: none;*/
}

#circle2 {
	background-image: url(../images/circle2_vc.jpg);
}

#circle3 {
	background-image: url(../images/circle3_vc.jpg);
}

.circle__item--empty {
	background-image: none;
}

#circle1,
#circle2,
#circle3 {
	background-size: 144px 144px;
}

@media all and (max-width: 600px) {
	/* entire container, keeps perspective */
	.flipper {
		perspective: 1000px;
	}
	/* flip the pane when hovered */
	.flipper:hover .flipper__card, .flipper.hover .flipper__card {
		transform: rotateY(180deg);
	}

	/* flip speed goes here */
	.flipper__card {
		position: relative;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
		margin: 12px 0px;
		padding: 24px;
		transition: 1s;
		-webkit-transform-style: preserve-3d;
		   -moz-transform-style: preserve-3d;
				transform-style: preserve-3d;
	}

	/* hide back of pane during swap */
	.front,
	.back {
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
				backface-visibility: hidden;
	}

	/* back, initially hidden pane */
	.back {
		position: absolute;
		top: 0;
		left: 0;
		transform: rotateY(180deg);
		/*display: block;*/
		height: 100%;
		background-color: rgba(190, 190, 190, 0.23);
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
		text-align: center;
		padding: 12px;
		font-size: 16px;
	}

	/* front pane, placed above back */
	.front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	}
}

@media all and (min-width: 600px) {

	.fa-angle-down::before {
		display: none;
	}

	.banner__text {
		font-size: 32px;
		padding: 24px;
	}

	.box__container {
		flex-direction: row;
		justify-content: space-around;
		width: 90%;
	}

	.box__item {
		/*box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);*/
		/*margin: 24px 0px;*/
		/*padding: 24px;*/
		/*flex-basis: 40%;*/
		text-align: left;
	}	

	.box__item--deliveries {
		order: 2;
	}

	.box__description--deliveries {
		order: 1;
		/*text-align: right;*/
	}
	
	.box__text {
		display: block;
	}

	.box__angle {
		display: none;
	}

	/*.flipper__card {
		-ms-display: flex;
			display: flex;
		justify-content: space-around;
	}
*/
	.circle__item {
		width: 144px;
		height: 144px;
	}

	#circle1,
	#circle2,
	#circle3 {
		background-size: 144px 144px;
	}

	.slider {
		margin: 24px 0px 48px 0px;
	}

	.slider .slide__track {
  		-webkit-animation: scroll 30s linear infinite;
  		   -moz-animation: scroll 30s linear infinite;
        		animation: scroll 30s linear infinite;
    }

    .cert {
		width: 60%;
		flex-direction: row;
	}

	.cert__img {
		padding: 0px;
		width: 120px;
	}

	.cert__img--vertical {
		display: inline;
		width: 100px;
	}

	.cert__img--horizontal {
		display: none;
	}

	#cert__1 {
		order: 1;
	}

	#cert__2 {
		order: 2;
	}

	#cert__3 {
		order: 3;
	}
}

@media all and (min-width: 1200px) {

	.banner--index {
		/*height: 480px;*/
	}

	.banner__text {
		font-size: 44px;
	}

	.box {
		padding: 96px 0px;
	}

	.box__container {
		/*width: 80%;*/
		font-size: 24px;
	}

	.box__item {
		/*padding: 36px;*/
	}

	.circle {
		width: 90%;
	}

	.circle__item {
		width: 240px;
		height: 240px;
	}

	#circle1,
	#circle2,
	#circle3 {
		background-size: 240px 240px;
	}

}

