.banner--represents {
	background-image: url(../images/represents1_vc.jpg);
	height: 300px;
}

.map {
	position: relative;
	width: 100%;
	margin: auto;
	padding: 48px 0px;
}

.map__img {
	width: 100%;
}

.map__box {
	cursor: pointer;
}

.map__marker {
	font-size: 24px;
	color: #F15056;
	position: absolute;
}

.map__marker--selected {
	/*color: #770000;*/
	color: #a8383c;
}

#marker__austria {
	top: 33%;
	left: 18%;
}

#marker__italy {
	top: 37.5%;
	left: 17.5%;
}

#marker__egipt {
	top: 48%;
	left: 25%;
}

#marker__turkey {
	top: 39%;
	left: 27%;
}

#marker__china {
	top: 44%;
	left: 59%;
}

.map__popup {
	background-color: #F5F5F5;
	border-radius: 3px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	padding: 12px 24px;
	position: absolute;
	z-index: 1000;
	display: none;
}

.map__popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: #F5F5F5 transparent transparent transparent;
}

.map__popup--visible {
	display: block;
}

.map__text{
	font-size: 12px;
}

.map__text--bold {
	font-weight: 700;
}



@media all and (min-width: 600px) {

	.map {
		width: 90%;
	}

	.map__marker {
		font-size: 24px;
	}

}