* {
  margin: 0;
  padding: 0;	
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 12px;
}

body {
	background-color: #DDDDDD;
	margin: auto;
	color: #505050;
}

.mainWrapper {
	max-width: 1920px;
}

.wrapper {
	max-width: 1608px;
	background-color: #DDDDDD;
	margin: auto;
	text-align: center;
}

.wrapper--narrow {
	width: 90%;
	margin: auto;
}

.wrapper--white {
	background-color: #FFFFFF;
}

.header {
	min-height: 149px;
	position: relative;
	z-index: 1000;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__item {
	background-color: #FFFFFF;
	display: flex;
}

.logo__img {
	width: 150px;
	vertical-align: middle;
	margin: 12px 0px;
}

.menu {
	font-size: 32px;
	color: #505050;
	text-align: right;
	position: absolute;
	top: 17px;
	left: 12px;
	height: 12px;
}

.menu--hidden {
	visibility: hidden;
}

.nav {
	padding: 12px;
	display: none;
}

.nav--hidden {
	display: none;
}

.nav--visible {
	display: flex;
	flex-direction: column;
}

.language {
	position: absolute;
	top: 17px;
	right: 12px;
}

.language__img {
	height: 18px;
}

.nav__link {
	line-height: 21px;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
	text-transform: uppercase;
	color: #505050;
	margin: auto;
}

.nav__link--contact {
	background-color: #F15056;
	color: #FFFFFF;
	margin: 0px 10px;
	padding-left: 26px;
	padding-right: 26px; 
	font-weight: 700;
}

.nav__link--selected {
	color: #F15056;
	position: relative;
}

.nav__link--selected::after {
	content: "";
	position: absolute;
	margin-top: 5px;
	left: 10px;
	right: 10px;
	display: block;
	height: 2px;
	background-color: #F15056;
}

.nav__link:hover,
.nav__link:active {
	color: #F15056;
}

.nav__link--contact:active,
.nav__link--contact:hover {
	color: #FFFFFF;
}

.banner {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.banner--short {
	height: 300px;
}

.banner__img {
	width: 100%;	
}

.banner__box {
	position: relative;
	margin: auto;
	padding: 12px 0px;
	max-width: 100%;	
	height: 100%;
	background-color: rgba(80, 80, 80, 0.45);
	display: flex;
	flex-direction: column;
}

.content--narrow {
	padding: 0px 24px;
}

.content--wide {
	padding: 36px;
	background-color: rgba(190, 190, 190, 0.23);
}

.content__header {
	font-size: 20px;
	text-transform: uppercase;
	padding: 48px 0px;
	color: #505050;
}

.content__text {
	color: #505050;
	width: 100%;
	font-size: 12px;
	text-align: left;
	line-height: 1.5em;
}

.content__text--small {
	font-size: 12px;
}

.content__text--big {
	font-size: 18px;
}

.content__text--center {
	text-align: center;
	margin: auto;
}

.content__text--aligned {
	margin: auto;
}

.content__text--link {
	color: #505050;
	cursor: pointer;
}

.footer {
	background-color: #3B3B3B;
}

.contact {
	color: #FFFFFF;
}

.design {
	color: #BEBEBE;
}

.footer {
	text-align: center;
	padding: 12px;
}

.contact {
	padding-bottom: 12px;
}

.contact__icon {
	padding-left: 12px;
	transform: rotateY(180deg);
}

.link {
	text-decoration: none;
}

.contact__link {
	color: #FFFFFF;
}

.design__link {
	color: #BEBEBE;
}

@media all and (min-width: 600px) {
	* {
		font-size: 14px;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-left: 60px;
		padding-right: 60px;
	}

	.nav {
		display: flex;
		flex-direction: column;
	}

	.logo__img {
		width: 200px;
		vertical-align: middle;
	}

	.fas.menu {
		display: none;
	}

	.content--wide {
		padding: 48px;
	}

	.content__header {
		font-size: 24px;
	}

	.content__text {
		width: 80%;
		font-size: 14px;
	}

	.content__text--small {
		font-size: 14px;
	}

	.content__text--big {
		font-size: 18px;
	}

}

@media all and (min-width: 1200px) {
	* {
		font-size: 18px;
	}

	.nav {
		flex-direction: row;
	}

	.banner__box {
		padding: 84px 144px;
	}

	.content--narrow {
		padding: 0px 72px;
	}

	.content__text {
		font-size: 18px;
	}

	.content__text--small {
		font-size: 18px;
	}

	.content__text--big {
		font-size: 24px;
	}	

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 96px;
	}

	.contact {
		display: flex;
		font-size: 18px;
		padding-bottom: 0px;
	}

	.contact__item {
		padding: 0px 24px;
	}

	.contact__icon {
		padding-left: 12px;
		transform: rotateY(180deg);
	}

	.design {
		font-size: 18px;
	}
}
