* {
  margin: 0;
  padding: 0;	
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

 }

body {
	background-color: #DDDDDD;
	margin: auto;
}

.mainWrapper {
	max-width: 1920px;
}

.wrapper {
	max-width: 1608px;
	background-color: #DDDDDD;
	margin: auto;
	text-align: center;
}

.wrapper--narrow {
	width: 90%;
	margin: auto;
}

.wrapper--white {
	background-color: white;
}

.header {
	min-height: 149px;
	position: relative;
	z-index: 1000;

	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__item {
	background-color: #FFFFFF;
	padding: 0px 12px;
	display: flex;
}

.logo__img {
	width: 150px;
	vertical-align: middle;
	margin: 12px 0px;
}

.menu {
	font-size: 32px;
	color: #505050;
	text-align: right;
	position: absolute;
	top: 17px;
	left: 12px;
	height: 12px;
}

.menu--hidden {
	visibility: hidden;
}

.nav {
	padding: 12px;
	display: none;
}

.nav--hidden {
	display: none;
}

.nav--visible {
	display: flex;
	flex-direction: column;
}

.language {
	position: absolute;
	top: 17px;
	right: 12px;
	height: 12px;
}

.nav__link {
	line-height: 21px;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
	text-transform: uppercase;
	color: #505050;
}

.nav__link--contact {
	background-color: #F15056;
	color: #FFFFFF;
	padding-left: 26px;
	padding-right: 26px; 
	font-weight: 700;
	margin: 0px 10px;
}

.nav__link--selected {
	color: #F15056;
	position: relative;
}

.nav__link--selected::after {
	content: "";
	position: absolute;
	top: 40px;
	left: 10px;
	right: 10px;
	display: block;
	height: 2px;
	background-color: #F15056;
}

.nav__link:hover,
.nav__link:active {
	color: #F15056;
}

.nav__link--contact:active,
.nav__link--contact:hover {
	color: #FFFFFF;
}

.banner {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.banner__img {
	width: 100%;	
}

.banner__box {
	position: relative;
	margin: auto;
	max-width: 100%;	
	height: 100%;
	background-color: rgba(80, 80, 80, 0.45);
	text-align: center;
	display: flex;
	align-items: flex-end;
}

.content--narrow {
	padding: 0px 24px;
}

.content--wide {
	padding: 48px 12px;
	background-color: rgba(190, 190, 190, 0.23);
}

.content__header {
	font-size: 24px;
	text-transform: uppercase;
	padding: 48px 0px;
	color: #505050;
}

.content__text {
	color: #505050;
	width: 80%;
	margin: auto;
	font-size: 18px;
	text-align: left;
}

.content__text--small {
	font-size: 18px;
	/*padding: 48px 0px;*/
}

.content__text--center {
	text-align: center;
}

.content__text--link {
	color: #505050;
	cursor: pointer;
	font-size: 18px;
}

.footer {
	background-color: #3B3B3B;
}

.contact {
	color: #FFFFFF;
}

.design {
	color: #BEBEBE;
}

.footer {
	text-align: center;
	padding: 12px;
}

.contact {
	padding-bottom: 12px;
}

.contact__icon {
	padding-left: 12px;
	transform: rotateY(180deg);
}


@media all and (min-width: 600px) {
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-left: 60px;
		padding-right: 60px;
	}

	.nav {
		display: flex;
		flex-direction: column;
	}

	.logo__img {
		width: 200px;
		vertical-align: middle;
	}

	.fas.menu {
		display: none;
	}

	.content__header {
		font-size: 36px;
	}

	.content__text,
	.content__text--link {
		font-size: 24px;
	}

	.content__text--big {
		font-size: 32px;
		padding-top: 96px;
	}	
}

@media all and (min-width: 1200px) {
	.nav {
		flex-direction: row;
	}

	.banner__box {
		position: relative;
		margin: auto;
		max-width: 100%;	
		height: 100%;
		padding: 108px 144px;
		background-color: rgba(80, 80, 80, 0.45);
		text-align: center;
		display: flex;
		align-items: flex-end;
	}

	.content--narrow {
		padding: 0px 72px;
	}

	.footer {
		height: 108px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 88px;
	}

	.contact {
		display: flex;
		font-size: 18px;
	}

	.contact__item {
		padding: 0px 24px;
	}

	.contact__icon {
		padding-left: 12px;
		transform: rotateY(180deg);
	}

	.contact__link {
		text-decoration: none;
		color: #FFFFFF;
	}

	.design {
		font-size: 18px;
	}

}
